<h1>Countries of the World</h1>

<% @countries.each do |country| %>

  <h2><%=country.name%></h2>

    <img src="<%=country.flag%>" id = "flags">
    <br>
    <h3>Population: <%=country.population%></h3>
    <h3>GDP: <%=country.GDP%></h3>
    <h3>Capital City: <%=country.capital%></h3>

    <%= button_to("Show #{country.name}", country_path(country), method: :get)%>
    <%= button_to('Delete Country', country_path(country), method: :delete, data: {confirm: 'Delete are you sure?'})%>
   <%= button_to("Edit Country Data", edit_country_path(country), method: :get)%>

    



<% end %>